$fontpage: Arial, Helvetica, sans-serif;

.labels-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    .label-item {
        width: 33.3%;
        border-radius: 20px;
        padding: 15px 30px;
        padding-right: 50px;
        position: relative;
        max-width: 350px;
        flex-wrap: wrap;
        margin-right: 30px;
        margin-bottom: 10px;
        min-width: 200px;
        &:last-child {
            margin-right: 0px;
        }
        &.label-violet {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: #5b52a5;
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-violet-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        &.label-orange {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: #FFAF67;
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-orange-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        &.label-pink {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: rgba(244, 71, 113, 0.62);
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-pink-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        .label-row {
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .info-col {
            .value {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #FFFFFF;
                padding-bottom: 5px;
            }
            .name {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }
        }
        .icon-col {
            .label-icon {
                width: 32px;
                height: 32px;
                &.icon-synchr {
                    background: url(./../img/icon-synchr.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-sent {
                    background: url(./../img/icon-sent.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-attention {
                    background: url(./../img/icon-attention.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}
.companies-table-wrapper {
    width: 100%;
    .table-wrapper {
        width: 100%;
        max-width: 100%;
        overflow: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #FFFFFF;
        table {
            width: 100%;
            tr {
                th:first-child,
                td:first-child {
                    padding-left: 40px;
                }
                th:last-child,
                td:last-child {
                    padding-right: 40px;
                }
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
            thead {
                th {
                    background: #D2F1DE;
                    padding: 15px 30px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 20px;
                    color: #5E6761;
                    text-align: left;
                    white-space: nowrap;
                    .icon {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        &.icon-synchr {
                            background: url(./../img/icon-small-synchr.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        &.icon-sent {
                            background: url(./../img/icon-small-sent.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        &.icon-error {
                            background: url(./../img/icon-small-error.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #605A5A;
                        padding: 30px;
                        border-bottom: 1px solid #D2F1DE;
                        a {
                            font-family: $fontpage;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            color: #009239;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1350px) {
    .labels-wrapper .label-item {
        padding-right: 30px;
    }
    .companies-table-wrapper .table-wrapper table {
        tbody tr td,
        thead th {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .labels-wrapper .label-item {
        padding: 15px;
        .info-col .name {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .companies-table-wrapper .table-wrapper table {
        tbody tr td,
        thead th {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
@media screen and (max-width: 1100px) {
    .companies-table-wrapper .table-wrapper table tbody tr td {
        font-size: 12px;
        line-height: 14px;
    }
    .companies-table-wrapper .table-wrapper table thead th {
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (max-width: 992px) {
    .companies-table-wrapper .table-wrapper table tbody tr td a {
        font-size: 12px;
        line-height: 14px;
    }
    .labels-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        .label-item {
            margin-right: 10px;
            .info-col {
                .value {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .icon-col {
                .label-icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .companies-table-wrapper .table-wrapper table tr th:first-child,
    .companies-table-wrapper .table-wrapper table tr td:first-child {
        padding-left: 20px;
    }
    .companies-table-wrapper .table-wrapper table tr th:last-child,
    .companies-table-wrapper .table-wrapper table tr td:last-child {
        padding-right: 20px;
    }
}
@media screen and (max-width: 500px) {
    .labels-wrapper .label-item {
        width: 100%;
        margin-right: 0px;
    }
}