.labels-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.labels-wrapper .label-item {
  width: 33.3%;
  border-radius: 20px;
  padding: 15px 30px;
  padding-right: 50px;
  position: relative;
  max-width: 350px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 200px;
}

.labels-wrapper .label-item:last-child {
  margin-right: 0px;
}

.labels-wrapper .label-item.label-violet::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #5b52a5;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-violet::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-violet-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #FFAF67;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-orange-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(244, 71, 113, 0.62);
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-pink-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item .label-row {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.labels-wrapper .label-item .info-col .value {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.labels-wrapper .label-item .info-col .name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.labels-wrapper .label-item .icon-col .label-icon {
  width: 32px;
  height: 32px;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-synchr {
  background: url(./../img/icon-synchr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-sent {
  background: url(./../img/icon-sent.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-attention {
  background: url(./../img/icon-attention.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper {
  width: 100%;
}

.companies-table-wrapper .table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
}

.companies-table-wrapper .table-wrapper table {
  width: 100%;
}

.companies-table-wrapper .table-wrapper table tr th:first-child,
.companies-table-wrapper .table-wrapper table tr td:first-child {
  padding-left: 40px;
}

.companies-table-wrapper .table-wrapper table tr th:last-child,
.companies-table-wrapper .table-wrapper table tr td:last-child {
  padding-right: 40px;
}

.companies-table-wrapper .table-wrapper table tr:last-child td {
  border-bottom: none;
}

.companies-table-wrapper .table-wrapper table thead th {
  background: #D2F1DE;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  text-align: left;
  white-space: nowrap;
}

.companies-table-wrapper .table-wrapper table thead th .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-synchr {
  background: url(./../img/icon-small-synchr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-sent {
  background: url(./../img/icon-small-sent.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-error {
  background: url(./../img/icon-small-error.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table tbody tr td {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  padding: 30px;
  border-bottom: 1px solid #D2F1DE;
}

.companies-table-wrapper .table-wrapper table tbody tr td a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #009239;
  text-decoration: none;
}

.tabs-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.tabs-container .tabs-label-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
}

.tabs-container .tabs-label-wrapper .tab-label {
  padding: 10px;
  border-bottom: 1px solid #BEBEBE;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  width: 25%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.tabs-container .tabs-label-wrapper .tab-label.active {
  background: #D2F1DE;
  border-bottom-color: #D2F1DE;
}

.tabs-container .tabs-content-wrapper {
  padding-top: 30px;
}

.tabs-container .tabs-content-wrapper .tab-content {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  display: none;
}

.tabs-container .tabs-content-wrapper .tab-content.active {
  display: block;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group {
  padding-bottom: 40px;
  width: 100%;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-label {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  padding-bottom: 20px;
  vertical-align: middle;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-label .icon {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-label .icon.icon-attach-file {
  background: url(./../img/icon-attach-file.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-label .icon.icon-attach-image {
  background: url(./../img/icon-attach-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-input {
  width: 100%;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-input input[type=text] {
  width: 100%;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #9B9B9B;
  border: none;
  outline: none;
  border-bottom: 1px solid #EFEFEF;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .form-input input[type=file] {
  display: none;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .picture-example-wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #EDEDED;
  padding: 15px;
}

.tabs-container .tabs-content-wrapper .tab-content .form-group .picture-example-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.tabs-container .tabs-content-wrapper .tab-content .map-picture {
  padding-top: 10px;
  max-width: 100%;
}

.tabs-container .tabs-content-wrapper .tab-content .map-picture img {
  max-width: 100%;
}

.tabs-container .tabs-content-wrapper .tab-content .input-images .image-uploader {
  min-height: 400px;
}

.tabs-container .tabs-content-wrapper .tab-content .btn-wrapper {
  padding-top: 30px;
}

.tabs-container .tabs-content-wrapper .tab-content .btn-wrapper .btn-submit {
  background: #009239;
  border: 1px solid #BEB9B9;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.resources-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  max-width: 100%;
  overflow: hidden;
}

.resources-wrapper .resources-header {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #EDEDED;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
}

.resources-wrapper .resources-list {
  padding-top: 20px;
}

.resources-wrapper .resources-list .resources-item {
  padding-bottom: 20px;
}

.resources-wrapper .checkbox-wrapper input[type=checkbox] {
  display: none;
}

.resources-wrapper .checkbox-wrapper input[type=checkbox] + label {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.resources-wrapper .checkbox-wrapper input[type=checkbox] + label span {
  left: 0px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #EDEDED;
}

.resources-wrapper .checkbox-wrapper input[type=checkbox] + label span::after {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 12px 10px;
          background-size: 12px 10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
  transition: -webkit-transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
  -o-transition: -o-transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5), -webkit-transform 300ms cubic-bezier(0.3, 0, 0, 1.5), -o-transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}

.resources-wrapper .checkbox-wrapper input[type=checkbox]:checked + label span::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.resources-wrapper .checkbox-wrapper input[type=checkbox] + label span::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #8798AA;
  opacity: .8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}

.resources-wrapper .checkbox-wrapper input[type=checkbox]:checked + label span::before {
  opacity: 0;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), -webkit-transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
  transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), -webkit-transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
  -o-transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), -o-transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
  transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
  transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4), -webkit-transform 400ms cubic-bezier(0.3, 0, 0, 1.4), -o-transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
}

ul.pagination {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 50px;
}

ul.pagination.bg-white {
  background-color: #ffffff;
}

ul.pagination li {
  padding: 0px 5px;
}

ul.pagination li a,
ul.pagination li span {
  margin: 20px 0px;
  padding: 6px 12px;
  background: #FBFBFB;
  color: #000000;
  border: none;
  border-right: none;
  text-decoration: none;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #605A5A;
}

ul.pagination li a:hover,
ul.pagination li span:hover {
  background-color: #009239 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.pagination li.active a {
  background-color: #009239 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.pagination .prev span {
  border: 1px solid #009239;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #009239;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .prev a {
  border: 1px solid #009239;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #009239;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .next span {
  border: 1px solid #009239;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #009239;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .next a {
  border: 1px solid #009239;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #009239;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.breadcrumps-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download-wrap .download-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #514B4B;
  padding-right: 10px;
  display: inline-block;
}

.download-wrap .download-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(./../img/icon-download.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.download-wrap a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.reviews-labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.reviews-labels .review-label-box {
  width: calc(20% - 20px);
  margin: 10px;
  background: #D2F1DE;
  border: 1px solid #99E7B7;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews-labels .review-label-box .info-col {
  width: 65%;
  position: relative;
}

.reviews-labels .review-label-box .info-col::after {
  content: "";
  position: absolute;
  width: 1px;
  right: 0px;
  top: -5px;
  bottom: -5px;
  background-color: #ffffff;
}

.reviews-labels .review-label-box .info-col .name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #797A7C;
  padding-bottom: 8px;
}

.reviews-labels .review-label-box .info-col .value {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #797A7C;
}

.reviews-labels .review-label-box .info-col .value-green {
  color: #009239;
}

.reviews-labels .review-label-box .info-col .value-red {
  color: #BB6262;
}

.reviews-labels .review-label-box .icon-col {
  width: 35%;
  padding-left: 5px;
  text-align: center;
}

.reviews-labels .review-label-box .icon-col .icon {
  width: 44px;
  height: 44px;
  max-width: 100%;
  display: inline-block;
}

.reviews-labels .review-label-box .icon-col .icon.icon-all-review {
  background: url(./../img/icon-all-reviws.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.reviews-labels .review-label-box .icon-col .icon.icon-good-review {
  background: url(./../img/icon-good-reviews.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.reviews-labels .review-label-box .icon-col .icon.icon-bad-review {
  background: url(./../img/icon-bad-reviews.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.reviews-labels .review-label-box .icon-col .icon.icon-no-rate {
  background: url(./../img/reviews-without-rate.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.reviews-labels .review-label-box .icon-col .icon-star {
  width: 42px;
  height: 42px;
  background: url(./../img/icon-review-rating.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2px;
}

.reviews-labels .review-label-box .icon-col .icon-star .icon-active {
  width: 100%;
  height: 100%;
  background: url(./../img/icon-review-rating-star.svg);
  background-position: left;
  -webkit-background-size: 40px 40px;
          background-size: 40px;
  background-repeat: no-repeat;
}

.page-content .filter-wrapper .box.box-date h6 {
  position: relative;
  padding-right: 30px;
}

.page-content .filter-wrapper .box.box-date h6::after {
  content: "";
  width: 25px;
  height: 21px;
  background: url(./../img/icon-date.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  right: 0px;
  top: 8px;
}

.daterangepicker .drp-buttons .btn {
  border: none;
  border-radius: 2px;
  background: #009239;
  color: #ffffff;
  padding: 10px 15px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

.daterangepicker .drp-buttons .btn:hover {
  background: #009239;
}

.daterangepicker .drp-selected {
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.active:hover {
  background-color: #009239;
  color: #ffffff;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.reviews-table-wrapper {
  width: 100%;
  background: #FFFFFF;
  padding-bottom: 20px;
}

.reviews-table-wrapper.faq-table {
  padding-top: 25px;
}

.reviews-table-wrapper.faq-table table th,
.reviews-table-wrapper.faq-table table td {
  padding-left: 15px;
  padding-right: 15px;
}

.reviews-table-wrapper.faq-table table th:nth-child(1),
.reviews-table-wrapper.faq-table table td:nth-child(1) {
  width: 11%;
}

.reviews-table-wrapper.faq-table table th:nth-child(2),
.reviews-table-wrapper.faq-table table td:nth-child(2) {
  width: 15%;
}

.reviews-table-wrapper.faq-table table th:nth-child(3),
.reviews-table-wrapper.faq-table table td:nth-child(3) {
  width: 10%;
}

.reviews-table-wrapper.faq-table table th:nth-child(4),
.reviews-table-wrapper.faq-table table td:nth-child(4) {
  width: 12%;
}

.reviews-table-wrapper.faq-table table th:nth-child(5),
.reviews-table-wrapper.faq-table table td:nth-child(5) {
  width: 45%;
}

.reviews-table-wrapper .filter-table {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews-table-wrapper .filter-table .filter-item {
  width: 25%;
  padding-right: 10px;
}

.reviews-table-wrapper .filter-table .filter-item input[type=checkbox] {
  display: none;
}

.reviews-table-wrapper .filter-table .filter-item input[type=checkbox]:checked ~ label .checkbox-icon .checkmark_stem {
  height: 15px;
}

.reviews-table-wrapper .filter-table .filter-item input[type=checkbox]:checked ~ label .checkbox-icon .checkmark_kick {
  height: 6px;
}

.reviews-table-wrapper .filter-table .filter-item label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.reviews-table-wrapper .filter-table .filter-item label .checkbox-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
  min-width: 15px;
  border: 1px solid #BEBEBE;
  position: relative;
  border-radius: 2px;
}

.reviews-table-wrapper .filter-table .filter-item label .checkbox-icon .checkmark {
  position: absolute;
  top: -1px;
  left: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews-table-wrapper .filter-table .filter-item label .checkbox-icon .checkmark_stem {
  position: absolute;
  width: 1px;
  background-color: #009239;
  left: 6px;
  top: -1px;
  height: 0px;
  -webkit-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews-table-wrapper .filter-table .filter-item label .checkbox-icon .checkmark_kick {
  position: absolute;
  width: 1px;
  background-color: #009239;
  left: 3px;
  top: 11px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
  height: 0px;
  -webkit-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.reviews-table-wrapper .filter-table .filter-item .text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #888585;
  padding-left: 10px;
}

.reviews-table-wrapper .table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.reviews-table-wrapper table {
  width: 100%;
}

.reviews-table-wrapper table th,
.reviews-table-wrapper table td {
  padding-left: 15px;
  padding-right: 15px;
}

.reviews-table-wrapper table th:nth-child(1),
.reviews-table-wrapper table td:nth-child(1) {
  width: 11%;
}

.reviews-table-wrapper table th:nth-child(2),
.reviews-table-wrapper table td:nth-child(2) {
  width: 15%;
}

.reviews-table-wrapper table th:nth-child(3),
.reviews-table-wrapper table td:nth-child(3) {
  width: 10%;
}

.reviews-table-wrapper table th:nth-child(4),
.reviews-table-wrapper table td:nth-child(4) {
  width: 12%;
}

.reviews-table-wrapper table th:nth-child(5),
.reviews-table-wrapper table td:nth-child(5) {
  width: 12%;
}

.reviews-table-wrapper table th:nth-child(6),
.reviews-table-wrapper table td:nth-child(6) {
  width: 40%;
}

.reviews-table-wrapper table th:first-child,
.reviews-table-wrapper table td:first-child {
  padding-left: 35px;
}

.reviews-table-wrapper table th:last-child,
.reviews-table-wrapper table td:last-child {
  padding-right: 60px;
  min-width: 250px;
}

.reviews-table-wrapper table thead th {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  background: #D2F1DE;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

.reviews-table-wrapper table tbody tr:last-child td {
  border-bottom: none;
}

.reviews-table-wrapper table tbody td {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #5E6761;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
}

.reviews-table-wrapper table tbody td .picture {
  width: 30px;
}

.reviews-table-wrapper table tbody td .picture img {
  max-width: 100%;
}

.reviews-table-wrapper table tbody td .star-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews-table-wrapper table tbody td .star-list .icon-star {
  width: 16px;
  height: 16px;
  background: url(./../img/icon-star.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-right: 2px;
}

.reviews-table-wrapper table .comment-wrapper {
  position: relative;
}

.reviews-table-wrapper table .comment-wrapper .open-page {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 12px;
  height: 12px;
  background: url(./../img/icon-open-window.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
  outline: none;
}

.reviews-table-wrapper table .comment-wrapper .comment-text {
  padding-bottom: 20px;
}

.reviews-table-wrapper table .comment-wrapper .answer-wrapper {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #F2F2F2;
  border-radius: 5px;
}

.reviews-table-wrapper table .comment-wrapper .answer-wrapper .top-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  color: #000000;
}

.reviews-table-wrapper table .comment-wrapper .answer-wrapper .answer-body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #5E6761;
}

.reviews-table-wrapper table .comment-wrapper .answer-wrapper + .btn-white {
  margin-left: 20px;
}

.reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper {
  display: none;
  position: relative;
}

.reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper .comment-input {
  margin-bottom: 15px;
}

.reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper .comment-input textarea {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  min-height: 80px;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  resize: none;
  max-width: 340px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #5E6761;
}

.reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper .show-full-comment-wrapp {
  position: absolute;
  bottom: 25px;
  right: 0px;
  cursor: pointer;
}

.reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper .show-full-comment-wrapp .icon {
  width: 12px;
  height: 12px;
  background: url(./../img/icon-show-full-comment.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.btn-white {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #009239;
  padding: 10px 15px;
  border: 1px solid #009239;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.btn-green {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  background: #009239;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #009239;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 1350px) {
  .tabs-container .tabs-label-wrapper .tab-label {
    font-size: 14px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .labels-wrapper .label-item {
    padding-right: 30px;
  }
  .companies-table-wrapper .table-wrapper table tbody tr td,
  .companies-table-wrapper .table-wrapper table thead th {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-content .filter-wrapper .box input,
  .page-content .filter-wrapper .box select {
    font-size: 12px;
    line-height: 14px;
  }
  .page-content .filter-wrapper .box h6 {
    font-size: 12px;
    line-height: 14px;
  }
  .reviews-labels .review-label-box {
    padding: 10px 5px;
  }
  .reviews-labels .review-label-box .info-col {
    width: 70%;
  }
  .reviews-labels .review-label-box .icon-col {
    width: 30%;
  }
  .reviews-table-wrapper .filter-table .filter-item .text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .reviews-labels .review-label-box,
  .page-content .filter-wrapper .box {
    width: calc(25% - 10px);
    margin: 5px;
  }
  .reviews-table-wrapper table th,
  .reviews-table-wrapper table td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .reviews-table-wrapper table thead th {
    font-size: 14px;
    line-height: 16px;
  }
  .reviews-table-wrapper table tbody td {
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .reviews-table-wrapper table .comment-wrapper .answer-wrapper .answer-body {
    font-size: 12px;
    line-height: 14px;
  }
  .reviews-table-wrapper table tbody td .picture {
    width: 20px;
  }
  .reviews-table-wrapper table tbody td .star-list .icon-star {
    width: 10px;
  }
  .reviews-table-wrapper table .comment-wrapper .hidden-form-wrapper .comment-input textarea {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .btn-green,
  .btn-white {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .reviews-table-wrapper table .comment-wrapper .comment-text {
    padding-bottom: 15px;
  }
  .labels-wrapper .label-item {
    padding: 15px;
  }
  .labels-wrapper .label-item .info-col .name {
    font-size: 14px;
    line-height: 16px;
  }
  .companies-table-wrapper .table-wrapper table tbody tr td,
  .companies-table-wrapper .table-wrapper table thead th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .companies-table-wrapper .table-wrapper table tbody tr td {
    font-size: 12px;
    line-height: 14px;
  }
  .companies-table-wrapper .table-wrapper table thead th {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 992px) {
  .download-wrap .download-text {
    font-size: 14px;
    line-height: 16px;
  }
  .reviews-labels, .reviews-table-wrapper .filter-table {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .reviews-labels .filter-item, .reviews-table-wrapper .filter-table .filter-item {
    width: 50%;
    padding-bottom: 10px;
  }
  .btn-green,
  .btn-white {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .reviews-labels .review-label-box,
  .page-content .filter-wrapper .box {
    width: calc(33.3% - 10px);
    margin: 5px;
  }
  .reviews-labels,
  .reviews-table-wrapper .filter-table {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews-table-wrapper table th:first-child,
  .reviews-table-wrapper table td:first-child {
    padding-left: 20px;
  }
  .reviews-table-wrapper table th:last-child,
  .reviews-table-wrapper table td:last-child {
    padding-right: 40px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .form-group .form-label {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .form-group .form-input input[type=text] {
    font-size: 14px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .btn-wrapper {
    padding-top: 10px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .btn-wrapper .btn-submit {
    font-size: 14px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .input-images .image-uploader {
    min-height: 300px;
  }
  .companies-table-wrapper .table-wrapper table tbody tr td a {
    font-size: 12px;
    line-height: 14px;
  }
  .labels-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .labels-wrapper .label-item {
    margin-right: 10px;
  }
  .labels-wrapper .label-item .info-col .value {
    font-size: 18px;
    line-height: 22px;
  }
  .labels-wrapper .label-item .icon-col .label-icon {
    width: 25px;
    height: 25px;
  }
  .companies-table-wrapper .table-wrapper table tr th:first-child,
  .companies-table-wrapper .table-wrapper table tr td:first-child {
    padding-left: 20px;
  }
  .companies-table-wrapper .table-wrapper table tr th:last-child,
  .companies-table-wrapper .table-wrapper table tr td:last-child {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .resources-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .resources-wrapper .resources-header {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .resources-wrapper .resources-list .resources-item {
    padding-bottom: 10px;
  }
  .tabs-container .tabs-content-wrapper .tab-content {
    padding: 15px;
  }
  .tabs-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tabs-container .tabs-content-wrapper {
    padding-top: 15px;
  }
  .tabs-container .tabs-content-wrapper .tab-content .form-group {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .reviews-labels,
  .reviews-table-wrapper .filter-table {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reviews-labels .review-label-box .info-col {
    width: 75%;
  }
  .reviews-labels .review-label-box .icon-col {
    width: 25%;
  }
  .reviews-labels .review-label-box .icon-col .icon-star {
    width: 25px;
    -webkit-background-size: contain;
            background-size: contain;
  }
  .reviews-labels .review-label-box .icon-col .icon-star .icon-active {
    -webkit-background-size: 25px 25px;
            background-size: 25px;
  }
  .reviews-labels .review-label-box,
  .page-content .filter-wrapper .box {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .reviews-table-wrapper .filter-table {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .companies-table-wrapper .pagination {
    padding-bottom: 80px;
  }
  .tabs-container .tabs-label-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .tabs-container .tabs-label-wrapper .tab-label {
    width: 50%;
  }
  .labels-wrapper .label-item {
    width: 100%;
    margin-right: 0px;
  }
}
