.labels-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.labels-wrapper .label-item {
  width: 33.3%;
  border-radius: 20px;
  padding: 15px 30px;
  padding-right: 50px;
  position: relative;
  max-width: 350px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 200px;
}

.labels-wrapper .label-item:last-child {
  margin-right: 0px;
}

.labels-wrapper .label-item.label-violet::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #5b52a5;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-violet::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-violet-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #FFAF67;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-orange-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(244, 71, 113, 0.62);
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-pink-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item .label-row {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.labels-wrapper .label-item .info-col .value {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.labels-wrapper .label-item .info-col .name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.labels-wrapper .label-item .icon-col .label-icon {
  width: 32px;
  height: 32px;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-synchr {
  background: url(./../img/icon-synchr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-sent {
  background: url(./../img/icon-sent.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-attention {
  background: url(./../img/icon-attention.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper {
  width: 100%;
}

.companies-table-wrapper .table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
}

.companies-table-wrapper .table-wrapper table {
  width: 100%;
}

.companies-table-wrapper .table-wrapper table tr th:first-child,
.companies-table-wrapper .table-wrapper table tr td:first-child {
  padding-left: 40px;
}

.companies-table-wrapper .table-wrapper table tr th:last-child,
.companies-table-wrapper .table-wrapper table tr td:last-child {
  padding-right: 40px;
}

.companies-table-wrapper .table-wrapper table tr:last-child td {
  border-bottom: none;
}

.companies-table-wrapper .table-wrapper table thead th {
  background: #D2F1DE;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5E6761;
  text-align: left;
  white-space: nowrap;
}

.companies-table-wrapper .table-wrapper table thead th .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-synchr {
  background: url(./../img/icon-small-synchr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-sent {
  background: url(./../img/icon-small-sent.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table thead th .icon.icon-error {
  background: url(./../img/icon-small-error.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.companies-table-wrapper .table-wrapper table tbody tr td {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  padding: 30px;
  border-bottom: 1px solid #D2F1DE;
}

.companies-table-wrapper .table-wrapper table tbody tr td a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #009239;
  text-decoration: none;
}

@media screen and (max-width: 1350px) {
  .labels-wrapper .label-item {
    padding-right: 30px;
  }
  .companies-table-wrapper .table-wrapper table tbody tr td,
  .companies-table-wrapper .table-wrapper table thead th {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .labels-wrapper .label-item {
    padding: 15px;
  }
  .labels-wrapper .label-item .info-col .name {
    font-size: 14px;
    line-height: 16px;
  }
  .companies-table-wrapper .table-wrapper table tbody tr td,
  .companies-table-wrapper .table-wrapper table thead th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .companies-table-wrapper .table-wrapper table tbody tr td {
    font-size: 12px;
    line-height: 14px;
  }
  .companies-table-wrapper .table-wrapper table thead th {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 992px) {
  .companies-table-wrapper .table-wrapper table tbody tr td a {
    font-size: 12px;
    line-height: 14px;
  }
  .labels-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .labels-wrapper .label-item {
    margin-right: 10px;
  }
  .labels-wrapper .label-item .info-col .value {
    font-size: 18px;
    line-height: 22px;
  }
  .labels-wrapper .label-item .icon-col .label-icon {
    width: 25px;
    height: 25px;
  }
  .companies-table-wrapper .table-wrapper table tr th:first-child,
  .companies-table-wrapper .table-wrapper table tr td:first-child {
    padding-left: 20px;
  }
  .companies-table-wrapper .table-wrapper table tr th:last-child,
  .companies-table-wrapper .table-wrapper table tr td:last-child {
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .labels-wrapper .label-item {
    width: 100%;
    margin-right: 0px;
  }
}
